/* Veriables  */
:root {
  /* colors */
  --font-stack: "Assistant", sans-serif;
  --main-color: #000000;
  --main-background: #FFFFFF;
  --top-bakcground: #272829;
  /* Gold Palette https://colorhunt.co/palette/6b240c994d1ce48f45f5cca0
  --maroon-p: #6B240C;
  --brown-p: #994D1C;
  --orange-p: #E48F45;
  --orange-light-p: #F5CCA0; */
  --black: #000000;
  --light-black: #272829;
  --grey: #61677A;
  --grey-light: #D8D9DA;
  --white: #FFFFFF;
  --bright-text: #E0E0E0;
  --red: #DB0000;
  --green: #089000;
  --main-text: #000000;
  --maroon: #837875;
  --gold: #B08957;
  --gold-light: #E1C485;
  --gold-light-dark: #d3b473;
  --gold-lighter: #ECD592;
  --orange: #E48F45;
  --orange-light: #F5CCA0;
  --orange-lighter: #F8E3C5;
  --yellow-p: #FFF6E0;
  /* Font Size */
  --small-font-size: 12px;
  --base-font-size: 14px;
  --sub-title-font-size: 16px;
  --title-font-size: 18px;
  /* Breakpoints */
  --extra-small: 415px;
  --small: 600px;
  --medium: 992px;
  --large: 1200px;
}

/*
// These classes can be added to HTML Elements
// to affect visibility on certain displays.

  .hide-on-small-only
  .hide-on-small-and-down
  .hide-on-med-and-down
  .hide-on-med-and-up
  .hide-on-med-only
  .hide-on-large-only
  .show-on-large
  .show-on-medium
  .show-on-small
  .show-on-medium-and-up
  .show-on-medium-and-down

//   //@media #--{$small-and-down} {
//     // styles for small screens and down  <= 600px
//   }
//   //@media #--{$medium-and-up} {
//     // styles for medium screens and larger  > 600px
//   }
//   //@media #--{$medium-and-down} {
//     // styles for medium screens and down   600px < scr < 992px
//   }
//  // @media #--{$large-and-up} {
//     // styles for large screens and up > 992px
//   }
//   @media #--{$extra-large-and-up} {
//     // styles for extra large screens and up >1200px
//   } 
*/
/* Mixins Main file */
/* 
//screens
$extra-small: 415px; //// <= 600px .s - $small
$small: 600px; // > 600px .m - $medium
$medium: 992x;  // > 992px .l - $large
$large: 1200px; // > 1200px .xl  - $extra-large
*/
/** fonts file **/
/* font face mixin */
/* 

Assistant font
--------------
https://fonts.google.com/specimen/Assistant
------------------- 
  fonts/Assistant-ExtraLight.ttf - 200
  fonts/Assistant-Light.ttf - 300
  fonts/Assistant-Regular.ttf - 400
  fonts/Assistant-Medium.ttf - 500
  fonts/Assistant-SemiBold.ttf - 600
  fonts/Assistant-Bold.ttf - 700
  font/Assistant-ExtraBold.ttf

*/
/* Font Face example */
/*  @font-face{
    font-family:"Heebo";
    src:url("fonts/heebo/Heebo-Regular.eot") format("eot"),url("fonts/heebo/Heebo-Regular.ttf") format("truetype");
}
 */
@font-face {
  font-family: "Assistant";
  font-weight: 700;
  src: url("../fonts/Assistant-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 600;
  src: url("../fonts/Assistant-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 500;
  src: url("../fonts/Assistant-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 400;
  src: url("../fonts/Assistant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Assistant";
  font-weight: 300;
  src: url("../fonts/Assistant-Light.ttf") format("truetype");
}
/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* Basic Style File */
/* base styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-stack) !important;
  font-size: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* materialize css fixes */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}
.container_flex {
  width: 100%;
}

.row {
  margin-bottom: 0;
}
.row .col {
  /* direction right */
  float: right;
  padding: 0 2px;
}

.col .row {
  margin-left: 0;
  margin-right: 0;
}

main {
  background: var(--main-background);
  padding: 0 0.8rem;
}

/* remove box-shadow from all buttons*/
button {
  box-shadow: none !important;
}

select {
  display: inline-block;
}

/* preloader */
.preloader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
.preloader-wrapper.big {
  width: 8rem;
  height: 8rem;
  margin: -4rem 0 0 -4rem;
}

.spinner-gold {
  border-color: var(--gold) !important;
}

/* sidenav-button */
.sidenav-button {
  border: none;
  background: transparent;
}
.sidenav-button:focus {
  background: var(--gold-lighter) !important;
}
.sidenav-button i {
  font-size: 3rem;
  color: var(--white);
}

/* Datepicker */
.qlik-daterangepicker.show-calendar.dropdown-menu {
  z-index: 2000 !important;
}

/* Disable materialize datepicker */
.datepicker-modal {
  display: none !important;
}

/* remove materialize style of nav  */
nav:not(.my_navbar) {
  color: inherit !important;
  background-color: var(--white) !important;
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
}

/*  remove radio button style  */
input[type=radio]:not(:checked), input[type=radio]:checked {
  position: static;
  opacity: initial;
  pointer-events: auto;
}

input[type=checkbox], input[type=radio] {
  /*  -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0; */
}

/* Button  button-scroll-to-top  */
.button-scroll-to-top {
  color: var(--white);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.button-scroll-to-top i {
  line-height: 1.5;
}

.color_red {
  color: var(--red) !important;
}

.color_green {
  color: var(--green) !important;
}

/*  Header Style file */
/* 
@include box(20px,20px);
@include font(500, $white, $base-font-size, $base-line-height);
 @media screen and (min-width:600px) {
                    background-size: cover;
                }
*/
header.header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  height: 6rem;
  display: block;
  width: 100%;
}
header.header .header_container {
  height: 100%;
  padding: 0 1rem;
}
header.header .header_container .sidepanel_icon {
  justify-content: start;
}
header.header .header_container .sidepanel_icon button i {
  color: var(--white);
}
header.header .header_container .sidepanel_icon button:focus {
  background-color: transparent;
}
header.header .header_container .menu_icons {
  justify-content: center;
  color: var(--white);
}
header.header .header_container .menu_icons .icons_container {
  width: 80%;
}
header.header .header_container .menu_icons .icons_container a {
  margin: 0 0.5rem;
}
header.header .header_container .menu_icons .icons_container a i {
  font-size: 3rem;
  color: var(--white);
}
header.header .header_container .menu_icons .icons_container a.active i {
  color: var(--gold-lighter);
}
header.header .logo {
  justify-content: end;
}
header.header .logo img {
  height: 5.5rem;
}

/* kpis scss */
/* 
background: linear-gradient(270deg, $blue-kpi-title-light 0%,$blue-kpi-title-dark 100%);
@media screen and (max-width:350px) {
                    font-size: 14px;
                }
@include font(500, $light-grey2, $small-font-size, 1);
*/
.kpi_buttons {
  padding: 0.5rem 0;
}
.kpi_buttons .kpi_button_card {
  grid-gap: 0.3rem 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.kpi_buttons .kpi_button_card .kpi_button {
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  background: var(--gold-light);
  padding: 0.5rem;
}
.kpi_buttons .kpi_button_card .kpi_button.active {
  background: #cba87b;
  /* background:  var(--gold);
  .kpi_button_data_title{
      color: var(--bright-text) !important;
  }
  .kpi_button_title{
      color: var(--white) !important;
  }
  .kpi_button_data_value{
      color: var(--white) !important;
  }
  .color_green{
      color:rgb(182, 218, 182) !important;
  }
  .color_red{
      color:rgb(214, 179, 179) !important;   
  } */
}
.kpi_buttons .kpi_button_card .kpi_button .kpi_button_title {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1;
  color: var(--main-color);
  padding: 0.2rem 0;
}
.kpi_buttons .kpi_button_card .kpi_button .kpi_button_data .kpi_button_data_value {
  direction: ltr;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--light-black);
}
.kpi_buttons .kpi_button_card .kpi_button .kpi_button_data .kpi_button_data_value.small_value {
  font-size: 0.8rem;
}
.kpi_buttons .kpi_button_card .kpi_button .kpi_button_data .kpi_button_data_title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  color: var(--grey);
}

/* Main Charts SCSS */
.chart h2 {
  margin: 1rem 0 0;
}

#pivot {
  height: 75dvh;
}
#pivot .qv-object {
  border-radius: 0.5rem;
}
#pivot .qv-object div[data-testid=full-size-container] {
  margin: 0 auto !important;
}

#barchart {
  height: 60dvh;
}
#barchart .qv-object {
  border-radius: 0.5rem;
}

/* active buttons */
.active_buttons .button {
  padding: 0;
}
.active_buttons .button .qvobject {
  height: 40px;
}
.active_buttons .button .qvobject .qv-object-action-button button {
  border-radius: 0.8rem !important;
  background: var(--gold) !important;
}
.active_buttons .button .qvobject .qv-object-action-button button text {
  direction: rtl;
  font-size: 1.3rem !important;
}
.active_buttons .button .qvobject .qv-object-action-button button text span {
  font-family: var(--font-stack) !important;
}
.active_buttons .button .qvobject .qv-object-action-button button:hover, .active_buttons .button .qvobject .qv-object-action-button button:active, .active_buttons .button .qvobject .qv-object-action-button button:focus {
  background: var(--gold-light) !important;
  color: var(--main-color) !important;
}
.active_buttons .button .qvobject .qv-object-action-button.qv-object-c0509e5c-bcc1-4872-b89a-1bf2ccf75803 button text span {
  font-size: 0.9rem !important;
  max-width: 100px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

/*  Styling for Qlik Objects */
.qvobject {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  font-family: var(--font-stack);
  /* Datepicker */
  /* .qv-object-qlik-date-picker {
  	.qv-object-header {
  		display: none;
  	}
  	.qv-object-content {
  		.bootstrap_inside {
  			span {
  				@include font(600, var(--white), 1rem, 1.2);
  			}
  		}
  		.lui-icon--calendar {
  			//display: none;
  		}
  		.lui-button__caret {
  			color: var(--white);
  			position: relative;
  			top: 2px;
  			right: 4px;
  		}
  	}
  	.show-range {
  		background: transparent !important;
  	}
  } */
  /* filters */
}
.qvobject .qv-object-qlik-date-picker .lui-icon--calendar {
  margin-right: 0.5rem;
}
.qvobject#CurrentSelections {
  height: 30px;
  width: 100%;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 9px;
}
.qvobject .qv-object-filterpane {
  height: 27px;
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox {
  background: var(--white);
  border-radius: 10px;
  border: none;
  height: 23px;
  /* for SaaS version */
  /* .qv-state-count-bar{
  	display: none;
  } */
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .title-wrapper {
  background: var(--white);
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .title-wrapper .title {
  font-family: var(--font-stack);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--main-text);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 85%;
  height: 15px;
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .title-wrapper .title:after {
  font-family: "Material Icons";
  content: "expand_more";
  -webkit-font-feature-settings: "liga";
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.2;
  width: 15px;
  position: absolute;
  top: 2px;
  right: 7px;
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox[aria-describedby*=lui-popover] .title-wrapper .title:after {
  content: "expand_less";
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .qv-state-count-bar {
  border: none !important;
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .qv-state-count-bar,
.qvobject .qv-object-filterpane .qv-collapsed-listbox .qv-state-count-bar .state.optional,
.qvobject .qv-object-filterpane .qv-collapsed-listbox .qv-state-count-bar .state.alternative {
  background: var(--white);
}
.qvobject .qv-object-filterpane .qv-collapsed-listbox .qv-state-count-bar .state.selected {
  background: var(--main-color);
}
.qvobject .qv-object .qv-object-title {
  color: var(--main-color) !important;
  font-size: 1.5rem !important;
}
.qvobject .qv-object-sn-pivot-table {
  direction: rtl;
}
.qvobject .qv-object-sn-pivot-table svg[data-testid=collapse-icon], .qvobject .qv-object-sn-pivot-table svg[data-testid=expand-icon] {
  height: 1.5rem !important;
}
.qvobject .qv-object-sn-pivot-table div[data-key=scrollable-container--leftGrid] {
  border-right: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.qvobject .qv-object-sn-pivot-table div[data-key=scrollable-container--dataGrid] {
  border-left: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.qvobject .qv-object-sn-pivot-table div[data-testid=title-cell], .qvobject .qv-object-sn-pivot-table div[data-cell-type=P] {
  background: var(--orange-lighter) !important;
  font-weight: 700;
  border: 1px solid var(--main-color);
}

/* Tabs bug fix on "swipeable" option*/
.tabs-content .qv-selection-toolbar {
  top: 0 !important;
}

/* Filter Popup Colors */
.qv-listbox .serverLocked,
.qv-listbox .serverSelected,
.qv-listbox li.selected {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.sel-toolbar-list .sel-toolbar-confirm:disabled,
.sel-toolbar-list .sel-toolbar-confirm:disabled:hover {
  background-color: var(--main-color);
}

.sel-toolbar-confirm {
  background-color: var(--main-color);
}

/* Datepicker popup */
.qv-object-qlik-date-picker .show-range {
  background: transparent !important;
  color: #FFFFFF;
}

/* Saas fixes */
/* Row of filter selection popover */
.listbox-popover .RowColumn-barContainer .RowColumn-fieldRoot.RowColumn-S {
  background-color: var(--main-color);
}

/* filters */
.qv-object-filterpane {
  height: 2.5rem;
  /* input value */
}
.qv-object-filterpane .folded-listbox > div {
  background: var(--white);
  border-radius: 0.8rem;
  border: none;
  /* title */
  /* selection bar */
}
.qv-object-filterpane .folded-listbox > div h6 {
  font-family: var(--font-stack);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--main-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 85%;
  height: 2rem;
}
.qv-object-filterpane .folded-listbox > div h6:after {
  font-family: "Material Icons";
  content: "expand_more";
  -webkit-font-feature-settings: "liga";
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.2;
  width: 1.3rem;
  position: absolute;
  top: 2px;
  left: 0.5rem;
}
.qv-object-filterpane .folded-listbox > div > div.MuiGrid-item > .MuiGrid-container {
  border-top: none;
}
.qv-object-filterpane .folded-listbox > div > div.MuiGrid-item > .MuiGrid-container > .MuiGrid-item:nth-child(1) {
  background: var(--main-color) !important;
}

/* icon after the opening */
/* body:has(.listbox-popover) {
	.folded-listbox > div h6:after{
		content: "expand_less";
	}
} */
/* sidepanel */
/* 
 @media  screen and (max-width: 350px) {
 @include font(500, $white, $base-font-size, $base-line-height);
*/
.sidenav {
  width: 45%;
  /* Open the comment for constant opening of sidepanel */
  background: var(--light-black);
  color: var(--main-color);
}
.sidenav .sidepanel_container {
  margin: 1rem;
}
.sidenav .filters_container .filter {
  margin: 1rem 0;
}
.sidenav .filters_container .filter .qvobject {
  height: 3rem;
}
.sidenav .filters_container .filter .qvobject#datepicker {
  height: 2rem;
}

/* Popup Style */
.modal {
  top: 35%;
  border-radius: 12px;
  z-index: 10;
}
.modal .modal-content {
  padding: 12px;
  font-size: 14px;
}
.modal .modal-footer {
  padding: 0 12px 12px;
  height: auto;
}
.modal .modal-footer label {
  float: left !important;
}
.modal .modal-footer label span {
  padding-left: 30px;
}
.modal .modal-footer button {
  background-color: var(--main-color);
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  margin: 0 !important;
}

/*# sourceMappingURL=style.css.map */
