/*  Header Style file */
/* 
@include box(20px,20px);
@include font(500, $white, $base-font-size, $base-line-height);
 @media screen and (min-width:600px) {
                    background-size: cover;
                }
*/
header.header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 6rem;
    display: block;
    width: 100%;
    .header_container {
        height:100%;
        padding: 0 1rem;
    
        .sidepanel_icon {
            justify-content: start;
            button{
                i{
                    color: var(--white);
                }
                &:focus{
                    background-color:transparent;
                }
            }
        }

        .menu_icons  {
            .icons_container{
                width:80%;
                a{
                    margin: 0 0.5rem;
                    i{
                        font-size: 3rem;
                        color: var(--white);
                    }
                    &.active{
                        i{
                            color: var(--gold-lighter);
                        }
                    }
                }
            }
            justify-content: center;
            color: var(--white);
        }
        }

        .logo  {
            justify-content: end;
            img{
                height: 5.5rem;
            }
      
    }
}
