/*  Styling for Qlik Objects */

//Top filters
.qvobject {
	flex: 1 1 auto;
	width: 100%;
	position: relative;
	font-family: var(--font-stack);


	/* Datepicker */
	.qv-object-qlik-date-picker {
		.lui-icon--calendar {
			margin-right: 0.5rem;
		}
	}

	/* .qv-object-qlik-date-picker {
		.qv-object-header {
			display: none;
		}
		.qv-object-content {
			.bootstrap_inside {
				span {
					@include font(600, var(--white), 1rem, 1.2);
				}
			}
			.lui-icon--calendar {
				//display: none;
			}
			.lui-button__caret {
				color: var(--white);
				position: relative;
				top: 2px;
				right: 4px;
			}
		}
		.show-range {
			background: transparent !important;
		}
	} */

	&#CurrentSelections {
		height: 30px;
		width: 100%;
		margin-top: 20px;
		position: fixed;
		left: 0;
		bottom: 9px;
	}

	/* filters */
	.qv-object-filterpane {
		height: 2.7rem;

		.qv-collapsed-listbox {
			background: var(--white);
			border-radius: 10px;
			border: none;
			height: 2.5rem;

			.title-wrapper {
				background: var(--white);

				.title {
					font-family: var(--font-stack);
					@include font(500, var(--main-text), 1rem, 1.7);
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					max-width: 85%;
					height: 15px;
				}

				.title:after {
					font-family: "Material Icons";
					content: "expand_more";
					-webkit-font-feature-settings: "liga";
					color: var(--main-color);
					font-size: 1.5rem;
					line-height: 1.2;
					width: 15px;
					position: absolute;
					top: 2px;
					right: 7px;
				}
			}

			&[aria-describedby*="lui-popover"] {
				.title-wrapper {
					.title {
						&:after {
							content: "expand_less";
						}
					}
				}
			}

			/* for SaaS version */

			/* .qv-state-count-bar{
				display: none;
			} */
			.qv-state-count-bar {
				border: none !important;
			}

			.qv-state-count-bar,
			.qv-state-count-bar .state.optional,
			.qv-state-count-bar .state.alternative {
				background: var(--white);
			}

			.qv-state-count-bar .state.selected {
				background: var(--main-color);
			}
		}

	}

	//hide titles
	.qv-object {
		//height: 0;
		.qv-object-title {
			color: var(--main-color) !important;
			font-size:1.5rem !important;
		}
	}

	//active buttons
	.qv-object-action-button {

	}

	//pivot table
	.qv-object-sn-pivot-table{
		direction: rtl;
		div{
			direction: rtl !important;
		}
		div[data-testid="measure-cell"] > div{
        justify-content: flex-start;
		direction: ltr !important;			
		}
		//icon size
		svg[data-testid="collapse-icon"], svg[data-testid="expand-icon"] {
			height:1.5rem !important;
		}
		div[data-key="scrollable-container--leftGrid"]{
			border-right:1px solid var(--main-color);
			border-top:1px solid var(--main-color);
			border-bottom:1px solid var(--main-color);
		}
		div[data-key="scrollable-container--dataGrid"]{
			border-left:1px solid var(--main-color);
			border-top:1px solid var(--main-color);
			border-bottom:1px solid var(--main-color);
		}
		div[data-testid="title-cell"], div[data-cell-type="P"]{
			background: var(--gold-lighter-p) !important;
			font-weight: 700;
			border:1px solid var(--main-color);
		
		}
	}

}

//.qvobject

/* Tabs bug fix on "swipeable" option*/
.tabs-content {
	.qv-selection-toolbar {
		top: 0 !important;
	}
}

/* Filter Popup Colors */
.qv-listbox .serverLocked,
.qv-listbox .serverSelected,
.qv-listbox li.selected {
	background-color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}

.sel-toolbar-list .sel-toolbar-confirm:disabled,
.sel-toolbar-list .sel-toolbar-confirm:disabled:hover {
	background-color: var(--main-color);
}

.sel-toolbar-confirm {
	background-color: var(--main-color);
}

/* Datepicker popup */
.qv-object-qlik-date-picker .show-range {
	background: transparent !important;
	color: #FFFFFF;
}

/* Saas fixes */

/* Row of filter selection popover */
.listbox-popover {
	.RowColumn-barContainer {
		.RowColumn-fieldRoot {
			&.RowColumn-S {
				background-color: var(--main-color);
			}
		}
	}
}

/* filters */
.qv-object-filterpane {
	height: 3rem;

	/* input value */
	.folded-listbox>div {
		background: var(--white);
		border-radius: 0.8rem;
		border: none;

		/* title */
		h6 {
			font-family: var(--font-stack);
			@include font(500, var(--main-color), 1.2rem, 1.7);
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 85%;
			height: 2rem;
		}

		h6:after {
			font-family: "Material Icons";
			content: "expand_more";
			-webkit-font-feature-settings: "liga";
			color: var(--main-color);
			font-size: 1.5rem;
			line-height: 1.2;
			width: 1.3rem;
			position: absolute;
			top: 2px;
			left: 0.5rem;
		}

		/* selection bar */
		&>div.MuiGrid-item {
			&>.MuiGrid-container {
				border-top: none;

				&>.MuiGrid-item {
					&:nth-child(1) {
						background: var(--main-color) !important;
					}
				}
			}
		}
	}
}


/* icon after the opening */
/* body:has(.listbox-popover) {
	.folded-listbox > div h6:after{
		content: "expand_less";
	}
} */