<!-- controller.home -->

<!-- main -->
<main>
    <div class="active_buttons row mt-3">
        <div class="button col s4">
            <div class="qvobject" id="button_0"></div>
        </div>
        <div class="button col s4">
            <div class="qvobject" id="button_1"></div>
        </div>
        <div class="button col s4">
            <div class="qvobject" id="button_2"></div>
        </div>
    </div>
    <div class="pivot_container chart">
        <div class="qvobject" id="pivot"></div>
    </div>
    
</main>
        