<!-- header -->
<div class="header_container row">
        <div class="sidepanel_icon col s2 valign-wrapper">
            <a href="" ng-click="openSidepanel()" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <div class="menu_icons col s7 valign-wrapper">
            <div class="icons_container center-align">
                <a href="#!"><i class="material-icons">bar_chart</i></a>
                <a href="#!/dashboard"><i class="material-icons">table_chart</i></a>
            </div>
        </div>
        <div class="logo col s3 valign-wrapper center-align">
            <a href="" ng-click="clearAll()"><img src="img/logo.gif" alt="logo"></a>
        </div>
</div>