<!-- header -->
<!-- 
  <div class="home_icon">
            <a href="" ng-click="clearAll()"><img src="img/repeat.svg" alt="Home_icon"></a>
        </div>
 -->
<div class="header_container">
    <div class="top_header">
        <div class="sidepanel_icon">
            <a href="" ng-click="openSidepanel()" class="sidenav-trigger">
                <img src="img/SameletDots.svg" alt="samelet_logo_icon">
            </a>
        </div>
        <!-- <div class="title">
            PC/LCV
        </div> -->
        <div class="home_icon">
            <a href="" ng-click="clearAll()"><img src="img/repeat.svg" alt="Home_icon"></a>
        </div>
    </div>
</div>