<!-- Sidepanel.html -->
<!-- <div class="qvobject top_filter" id="pcv_lcv"></div> -->
<!-- 
    <div class="filters_container">
            <div class="row top_filters">
                <div class="col s4 fiter_div">
                    <div class="label">PC/LCV</div>
                    <div class="qvobject top_filter" id="pcv_lcv"></div>
                </div>
                <div class="col s4 fiter_div">
                    <div class="label">Dome/Expo</div>
                    <div class="qvobject top_filter" id="domo_expo"></div>
                </div>
                <div class="col s4 fiter_div">
                    <div class="label">Dealer</div>
                    <div class="qvobject top_filter" id="dealer"></div>
                </div>
            </div>
        </div>
 -->
 <div class="sidepanel_container">
    <h2>sidepanel</h2>
 </div>